{% extends "base.html" %}

{% block content %}
<section class="section has-background-light pt-4">
	<div class="container is-fluid">

		<div class="columns">
			<div class="column is-6 is-offset-3">

				<nav class="pagination is-rounded mb-3" role="navigation" aria-label="pagination">
					<a href="{{prev}}" class="pagination-previous">Previous</a>
					<a href="{{next}}" class="pagination-next">Next</a>
				</nav>

				{% for item in items %}
				<div class="box mb-3">
					<article class="media">
						<div class="media-content">

							<div class="columns mb-1">
								<div class="column is-9">
										<a href="{{item.link}}" class="title is-5 is-block mb-1">{{item.title}}</a>
										<a href="{{item.feedLink}}" class="is-block is-size-7">{{item.feedTitle}}</a>
								</div>
								<div class="column is-3">
										<span class="is-size-7 is-pulled-right">{{item.pubDate}}</span>
								</div>
							</div>

							<div class="content">
								{{item.description | safe}}
							</div>

							<div class="columns">
								<div class="column is-2 is-offset-10 pb-1 pt-0">
									{% if item.saved %}
									<div class="field is-grouped is-pulled-right">
										<p class="control">
											<button class="button is-small is-danger is-outlined is-rounded" hx-delete="/items/{{item.id}}" hx-trigger="click">
												Delete
											</button>
										</p>
										<p class="control">
											<button class="button is-small is-primary is-outlined is-rounded is-pulled-right" disabled>
												Saved
											</button>
										</p>
									</div>
									{% else %}
									<div class="field is-grouped is-pulled-right">
										<p class="control">
											<button class="button is-small is-danger is-outlined is-rounded" hx-delete="/items/{{item.id}}" hx-trigger="click">
												Delete
											</button>
										</p>
										<p class="control">
											<button class="button is-small is-primary is-outlined is-rounded" hx-put="/items/{{item.id}}/save" hx-trigger="click" hx-swap="outerHTML">
												Save
											</button>
										</p>
									</div>
									{% endif %}
								</div>
							</div>

						</div>
					</article>
				</div>
				{% endfor %}

				<nav class="pagination is-rounded" role="navigation" aria-label="pagination">
					<a href="{{prev}}" class="pagination-previous">Previous</a>
					<a href="{{next}}" class="pagination-next">Next</a>
				</nav>

			</div>
		</div>

	</div>
</section>
{% endblock %}
