{% extends "base.html" %}

{% block content %}
<section class="section has-background-light pt-4" hx-ext="path-deps,hx-clear">
	<div class="container is-fluid">

		<div class="columns">
			<div class="column is-6 is-offset-3">

				<div class="columns">
					<div class="colmun is-1">
					</div>
					<div class="colmun is-11">
					</div>
				</div>

				<form class="my-2">
					<div class="field is-horizontal is-full-width">
						<div class="field-body">
							<div class="field is-grouped">
								<p class="control is-expanded">
									<input id="feedUrl" class="input is-rounded" type="text" name="feedUrl" placeholder="Enter A Valid Feed URL">
								</p>
								<p class="control">
									<button type="button" class="button is-primary is-rounded is-outlined" hx-post="/subscriptions" hx-include="#feedUrl" hx-trigger="click" hx-swap="none" hx-clear="#feedUrl">
										Add
									</button>
								</p>
							</div>
						</div>
					</div>
				</form>

				<div id = #subs-table" class="table-container" hx-get="/subscriptions/table" hx-trigger="path-deps,load" path-deps="/subscriptions">
				</div>

			</div>
		</div>

	</div>
</section>
{% endblock %}
